<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YoyoTest</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
</head>
<body>
    <main class="container is-fluid">
        @RenderBody()
    </main>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
