@{
    ViewData["Title"] = "YoYo Test";
}

<section class="timer-height columns is-flex is-justify-content-center is-align-items-center m-5">
    <div class="column circle-moble is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet circle is-flex is-justify-content-center is-align-items-center"><i class="fas fa-play is-size-5-custom has-text-primary-dark"></i></div>
</section>

<section class="columns is-mobile is-flex is-flex-direction-row is-justify-content-space-between mb-5">
    <div class="vertical-divider column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
        <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
            <div> NEXT</div> <div>SHUTTLE</div>
        </div>
        <div class="has-text-grey-light is-flex is-hidden-mobile">
            <div> NEXT</div> <div class="ml-2">SHUTTLE</div>
        </div>
        <div class="has-text-primary-dark is-size-1-2 whitespace-wrap">
            0:00 s
        </div>
    </div>
    <div class="vertical-divider column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
        <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
            <div> TOTAL</div> <div>TIME</div>
        </div>
        <div class="has-text-grey-light is-flex is-hidden-mobile">
            <div> TOTAL</div> <div class="ml-2">TIME</div>
        </div>
        <div class="has-text-primary-dark is-size-1-2 whitespace-wrap">
            0:00 m
        </div>
    </div>
    <div class="column is-flex is-justify-content-center is-flex-direction-column is-align-items-center">
        <div class="has-text-grey-light is-flex is-hidden-desktop is-hidden-tablet is-justify-content-center is-flex-direction-column is-align-items-center">
            <div> TOTAL</div> <div>DISTANCE</div>
        </div>
        <div class="has-text-grey-light is-flex is-hidden-mobile">
            <div> TOTAL</div> <div class="ml-2">DISTANCE</div>
        </div>
        <div class="has-text-primary-dark is-size-1-2 whitespace-wrap">
            0:00 m
        </div>
    </div>
</section>

<section class="is-flex is-flex-direction-column mb-4">
    <div class="has-text-primary-dark has-text-weight-bold">
        Track
    </div>
    <div class="dropdown-divider has-background-grey-light"></div>
</section>

<section class="columns is-multiline is-tab">
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">1.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-shadowless" aria-haspopup="true" aria-controls="dropdown-menu3">
                        <span>11-3</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                            18-9
                        </a>
                        <a href="#" class="dropdown-item">
                            16-3
                        </a>
                        <a href="#" class="dropdown-item">
                            20-3
                        </a>
                        <a href="#" class="dropdown-item">
                            9-3
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">2.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded">Warn</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">3.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded has-background-grey-light">Warned</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">4.</div>
                <div>Ashton Eaton</div>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">2.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded">Warn</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">3.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded has-background-grey-light">Warned</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">4.</div>
                <div>Ashton Eaton</div>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">2.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded">Warn</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">3.</div>
                <div>Ashton Eaton</div>
            </div>
            <div class="is-flex">
                <span class="tag is-info is-rounded has-background-grey-light">Warned</span>
                <span class="tag is-danger is-rounded ml-2">Stop</span>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row">
                <div class="has-text-info has-text-weight-bold mr-2">4.</div>
                <div>Ashton Eaton</div>
            </div>
        </div>
        <div class="dropdown-divider has-background-grey-lighter"></div>
    </div>

</section>

<section class="is-flex is-flex-direction-column mb-4">
    <div class="dropdown-divider has-background-grey-light"></div>
</section>


<script>
    document.querySelectorAll('.dropdown').forEach(item => {
        item.addEventListener('click', event => {
            event.currentTarget.classList.toggle("is-active");
        })
    })
</script>