.button {
    height: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none
}

a.dropdown-item {
    padding-right: 1rem
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
    display: flex
}

.vertical-divider {
    border-right: 2px #dbdbdb solid;
}

.whitespace-wrap {
    white-space: nowrap
}

[data-pointer="true"] {
    cursor: pointer
}